{% extends 'base.html' %}


{% block content %}


{% if request.user.is_staff %}
    <div class="card-body pl-0">
        <a class="btn btn-primary btn-info" href="{% url 'crea_sezione' %}">Crea sezione</a>
    </div>
{% endif %}

{% for sezione in lista_sezioni %}
<div class="card my-3">
    <div class="card-header">
        <a href="{{ sezione.get_absolute_url }}"><strong>{{ sezione.nome_sezione }}</strong></a>
        <p class="mb-0">{{ sezione.descrizione }}</p>
    </div>
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-3">
                <img src="{{ sezione.logo_sezione.url }}" style="max-width:100%">
                <p class="card-footer mb-0">Discussioni totali: {{ sezione.discussione_set.count }}</p>
                <p class="card-footer mb-0">Messaggi totali: {{ sezione.get_number_of_posts_in_section }}</p>
            </div>
            <div class="col-lg-9">
                <p>Ultime discussioni</p>
                <table class="table table-light">
                    <tbody>
                        {% for discussione in sezione.get_last_discussions.all  %}
                            <tr class="row">
                                <td class="col-lg-7 col-6">
                                    <a href="{% url 'visualizza_discussione' pk=discussione.pk %}">{{ discussione.titolo }}</a>
                                </td>
                                <td class="col-lg-3 col-3">
                                    <a href="{% url 'user_profile' username=discussione.autore.username %}">{{ discussione.autore.username }}</a>
                                </td>
                                <td class="col-lg-2 col-3">
                                    <p>Posts: {{ discussione.post_set.count }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock content %}